.swiper-horizontal{
  margin-top: 50px !important; 
  width: 90% !important;
  cursor: grab !important;
}
.swiper-slider{
  background-color: #0D1118 !important; 
  display: flex !important;
  flex-wrap: wrap !important;
}
.swiper-button-prev{
  color: #0bceaf;
}
.swiper-button-next{
  color: #0bceaf;
}
@media only screen and (max-width: 380px) {
    .swiper-button-prev{
        display: none;
    }
    .swiper-button-next{
      display: none;
    }
    
}