.custom-shape-divider-bottom-1637090252 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1637090252 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 129px;
}

.custom-shape-divider-bottom-1637090252 .shape-fill {
    fill: #170B64;
}